<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="/">Home</a></li>
    <li><a ng-href="/sign_in">Sign in</a></li>
    <li><a ng-href="/sign_up">Sign up</a></li>
    <li><a ng-href="/articles">Articles (only for signed in user)</a></li>
  </ul>
  <h3 class="text-muted">webapp</h3>
</div>

<div class="row marketing">
  <div ng-repeat="article in awesomeArticles">
    {{article.title}}<br>
    {{article.body}}<br>
    <hr>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
